/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  object-fit: cover;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  display: grid;
  place-items: center;
  background-color: hsl(30deg, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 12px;
  overflow: hidden;
  max-width: 42rem;
}
@media only screen and (max-width: 768px) {
  .product {
    grid-template-columns: 1fr;
    max-width: 22.5rem;
  }
}
.product__image {
  height: 100%;
}
.product__content {
  padding: 2rem;
  background-color: hsl(0deg, 0%, 100%);
}
.product__category {
  text-transform: uppercase;
  color: hsl(228deg, 12%, 48%);
  letter-spacing: 12px;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .product__category {
    font-size: 0.8rem;
  }
}
.product__name {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .product__name {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.product__description {
  color: hsl(228deg, 12%, 48%);
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.8;
}
.product__prices {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .product__prices {
    margin-bottom: 1rem;
  }
}
.product__prices--normal {
  color: hsl(228deg, 12%, 48%);
  font-size: 0.8rem;
  font-weight: 500;
}
.product__prices--sale {
  font-family: "Fraunces", serif;
  color: hsl(158deg, 36%, 37%);
  font-weight: 700;
  font-size: 2.5rem;
}

.btn--add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
  background-color: hsl(158deg, 36%, 37%);
  border: none;
  padding: 0.85rem 0;
  border-radius: 8px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
