body {
  display: grid;
  place-items: center;
  background-color: $color-primary-2;
  font-family: $montserrat-font;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 12px;
  overflow: hidden;
  max-width: 42rem;

  &__image {
    height: 100%;
  }

  &__content {
    padding: 2rem;
    background-color: $color-white;
  }

  &__category {
    text-transform: uppercase;
    color: $color-neutral-2;
    letter-spacing: 12px;
    margin-bottom: 1rem;
  }

  &__name {
    font-family: $fraunces-font;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 2rem;
  }

  &__description {
    color: $color-neutral-2;
    margin-bottom: 1rem;
    font-size: $body-font-size;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    &--normal {
      color: $color-neutral-2;
      font-size: 0.8rem;
      font-weight: 500;
    }

    &--sale {
      font-family: $fraunces-font;
      color: $color-primary-1;
      font-weight: 700;
      font-size: 2.5rem;
    }
  }
}

.btn--add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
  background-color: $color-primary-1;
  border: none;
  padding: 0.85rem 0;
  border-radius: 8px;
  color: $color-white;
  font-weight: 500;
  width: 100%;
}
