:root {
  --color-primary-dark-cyan: hsl(158, 36%, 37%);
  --color-primary-cream: hsl(30, 38%, 92%);

  --color-neutral-very-dark-blue: hsl(212, 21%, 14%);
  --color-neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --font-size-body: 0.88rem;

  --font-family-montserrat: 'Montserrat', sans-serif;

  --font-family-fraunces: 'Fraunces', serif;

  --font-weight-500: 500;
  --font-weight-700: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primary-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
