:root {
  --color-primary-dark-cyan: hsl(158, 36%, 37%);
  --color-primary-cream: hsl(30, 38%, 92%);

  --color-neutral-very-dark-blue: hsl(212, 21%, 14%);
  --color-neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --font-size-body: 0.88rem;

  --font-family-montserrat: 'Montserrat', sans-serif;

  --font-family-fraunces: 'Fraunces', serif;

  --font-weight-500: 500;
  --font-weight-700: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-primary-cream);
}

.product {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-white);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.product__photo--desktop {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  max-width: 40rem;
  height: 30rem;
  display: block;
}

.product__photo--mobile {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  max-width: 40rem;
  height: 32rem;
  display: none;
}

.product__content {
  padding: 2rem;
  max-width: 23rem;
  height: 30rem;
}

.product__title {
  text-transform: uppercase;
  font-family: var(--font-family-montserrat);
  letter-spacing: 8px;
  color: var(--color-neutral-dark-grayish-blue);
  margin-bottom: 1rem;
}

.product__name {
  font-family: var(--font-family-fraunces);
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.product__description {
  font-size: var(--font-size-body);
  font-family: var(--font-family-montserrat);
  color: var(--color-neutral-very-dark-blue);
  line-height: 1.5;
  max-width: 25ch;
  margin-bottom: 2rem;
  font-size: var(--font-size-body);
}

.product__prices {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.product__sale-price {
  font-size: 2.5rem;
  font-family: var(--font-family-fraunces);
  font-weight: var(--font-weight-700);
  color: var(--color-primary-dark-cyan);
}

.product__original-price {
  font-size: 1rem;
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-500);
  color: var(--color-neutral-dark-grayish-blue);
  text-decoration: line-through;
}

.btn-add-to-cart {
  background-color: var(--color-primary-dark-cyan);
  border: none;
  color: var(--color-neutral-white);
  padding: 1rem 2rem;
  font-family: var(--font-family-montserrat);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: var(--font-weight-700);
  border-radius: 8px;
  width: 100%;
}

/* @media; */

@media only screen and (max-width: 450px) {
  .container {
    padding: 3rem;
  }

  .product {
    flex-direction: column;
  }

  .product__photo--desktop {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    max-width: 40rem;
    height: 32rem;
    display: none;
  }

  .product__photo--mobile {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 30rem;
    height: 20rem;
    display: block;
  }

  .product__content {
    max-width: 26rem;
    height: 28rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .product__description {
    max-width: 34ch;
  }

  .btn-add-to-cart {
    width: 95%;
  }
}
