

$deep-aquamarine: hsl(158, 36%, 37%);
$deep-aquamarine__hover: hsl(158, 42%, 18%);

$gunmetal:hsl(212, 21%, 14%);
$aurometal-saurus: hsl(228, 12%, 48%);
$pure-white:hsl(0, 0%, 100%);

$bg-cream: hsl(30, 38%, 92%);

$ff-heading: "Fraunces", serif;
$ff-body: "Montserrat", sans-serif;

$fs-body: 0.875rem;

$fw-500: 500;
$fw-700: 700;