/* --------------------------
  RESET START
----------------------------*/
/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------------
  RESET END
----------------------------*/
.product-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin-block: 1.75rem;
  margin-inline: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  max-inline-size: 37rem;
}
.product-card__content {
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
}
.product-card__tag {
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}
.product-card__tag strong {
  font-weight: 400;
}
.product-card__name {
  font-family: "Fraunces", serif;
  line-height: 1;
  margin-block-start: 0.75rem;
  margin-block-end: 1rem;
  font-size: 2rem;
  text-wrap: balance;
}
.product-card__description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  margin-block-end: 1.5rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-wrap: balance;
}
@media only screen and (min-width: 48rem) {
  .product-card {
    grid-template-columns: 1fr 1fr;
  }
}

.product-card__prices {
  display: flex;
  align-items: center;
  gap: 1.1875rem;
  margin-block-end: 1.25rem;
}
.product-card__prices--sale {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
}
.product-card__prices--original {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 0.8125rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.product-card__form .btn__add-cart {
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  inline-size: 100%;
  padding-block: 0.9375rem;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6875rem;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px hsl(158, 42%, 30%);
}
.product-card__form .btn__add-cart:focus {
  box-shadow: none;
}
.product-card__form .btn__add-cart span {
  line-height: 0;
}

/*# sourceMappingURL=styles.css.map */
